
/* ---------------------------------------------------- Header section ------------------------------------------------------------ */
header {
    padding: 0;
    figure.logo {
        padding-bottom: 0;
        margin-bottom: -1.3rem;
        padding-bottom: 0;
    }
    a {
        display: block;
        float: right;
        margin: 0 1% 1rem 0;
        padding: 0;
        text-decoration: none;
    }
    }


/* ---------------------------------------------------- main section ------------------------------------------------------------ */
    div#articles {
        div.article1, div.article2, div.article3, div.article4 {
        flex-basis: 32%;
        }
    }

    div#footerDetails {
        display: flex;
        flex-wrap: wrap;

        div#contactInfo, div#newsLetter{
            flex-basis: 50%;
        }
    }



/* ---------------------------------------------------- footer section ------------------------------------------------------------ */
div#newsLetter {
    padding-top: .8rem;
}


    div#linksWrapper {
        max-width: 60rem;
        margin: 0 auto;
    }