/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

div#bodyWrapper {
    display: flex;
    flex-direction: column;
    div#navWrapper {order: 1}
    div#headerWrapper {order: 2}
    div#mainWrapper {order: 3}
    div#footerWrapper {order: 4}
    div#linksWrapper {order: 5}
}

body {
    font-family: costa, sans-serif;
    font-weight: 300;
    font-style: normal;
}

    /* ---------------------------------------------------- nav section This includes the search bar------------------------------------------------------------ */
    div#navWrapper { background-color: $colorOne;}
    nav {
        //nav
        padding: 5px 0 8px 0;
        grid-area: nav;

        //button
        button#hamburgerMenu {
            margin-left: .2%;
            padding-top: 2px;
            background-color: $colorOne;
            color:$colorTwo;
            border: none;
            font-size: 2rem;
        }

        ul#primaryNav {
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            text-align: center;
            margin-top: 0;
            margin-top: 10px;
        }

        .hidden {display: none;}

        // ------------------ nav items ---------------------------------
        li.cruise, li.agent, li.menuList {
            padding-bottom: 5px;
            padding-top: 5px;
        }

        li.book {
            padding-bottom: 5px;
            padding-top: 5px;
        }

        li a {
        color: $colorTwo;
        text-decoration: none;
        }

        li a:hover {
            border-bottom: 1px solid rgb(255, 253, 212, 0.7);
        } 
// ------------------ nav second level items ---------------------------------
        ul#primaryNav li ul {
            list-style-type: none;
        }


        ul#primaryNav li.agent ul {
            margin-left: 0;
            padding-left: 0;
        }

        ul#primaryNav li ul li a {
            font-size: 0.8rem;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        ul#primaryNav li.agent ul li a:hover {
            border-bottom: 1px solid rgb(255, 253, 212, 0.7);
        }

        ul#primaryNav li.agent ul li.child {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        ul#primaryNav li.agent ul li.secondChild {
            margin-bottom: 5px;
        }

        ul#primaryNav li ul.hidden {
            display: none;
        }

    }

    // search bar
    form#searchForm {
        float: right;
        margin: 0 1% 0 1%;

        //search container
        .search{
        color: $colorTwo;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
        margin-right: -5px;
        margin-top: 5px;
        padding: 6px 5px;
        background-color: $colorOne;
        border: 1px solid lighten($color: $colorOne, $amount: 20%);
        width: 6rem;
        outline: none;
        }

        .search::placeholder {
            color: rgb(255, 253, 212, 0.5);
            font-family: roboto;
        }

        .search:focus, .search:active {
        width: 14rem;
        color: $colorTwo;
        }

        //submit button
        .submit {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: none;
            padding: 7px 15px;
            background-color: lighten($color: $colorOne, $amount: 20%);
        } 
    }


/* ---------------------------------------------------- Header section ------------------------------------------------------------ */
header {
    figure.logo {
        margin: 1rem 0 -0.1rem 1%;
        padding-top: .3rem;
    }
    a {
        display: none;
        color: $colorOne;
        font-family: roboto;
    }
}

/* ---------------------------------------------------- main section ------------------------------------------------------------ */
main {
    .swiper {
        margin-bottom: 1rem;
        .swiper-wrapper {
            margin-bottom: 35px;
        }
    
        .swiper-slide {
            width: 100%;
            height: auto;
            img {
                display: block;
                width: 100%;
            }
        }

        span.swiper-pagination-bullet {
            padding: 2px;
            background-color: $colorOne;
        }
    }
    

    h2 {
        padding-bottom: 0;
        margin-bottom: -2rem;
        margin-left: 1%;
        color: $colorOne
    }
    
}



// Blog posts

div#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    label {
        text-align: center;
        display: block;
        color: $colorTwo;
        padding: 10px 0;
    }

    .top {
        position: relative;
        z-index: 999;
        transform: translateY(100%);
        background-color:rgb(0, 106, 102, 0.5);
    }

    .bottom {
        transform: translateY(-111%);
        /* transform: translateY(-214%); */
        background-color:rgb(0, 106, 102, 0.5);
    }

    div.article1, div.article2, div.article3, div.article4 {
        flex-basis: 48%;
    }
    img {
        width: 100%;
        opacity: .75;
    }

    img:hover{
        opacity: 1;
    }
}
/* ---------------------------------------------------- footer section ------------------------------------------------------------ */
div#footerWrapper {
    background-color: $colorOne;
    padding-bottom: 1rem;
    color: white;

    div#footerDetails {
        padding-left: 1%;
        padding-right: 1%;

        div#contactInfo {
            h3 {
                margin-bottom: 0;
                padding-bottom: 0;
                color: $colorTwo;
            }
            p {
                margin: 0;
                color: $colorTwo;
                font-family: roboto;
            }
    
            h2 {
                margin-bottom: 0;
                color: $colorTwo;
            }
            a {
                color: lighten($color: $colorTwo, $amount: 10%);
                text-decoration: none;
                font-family: roboto;
            }
        }
    }

    div#newsLetter {
        margin-top: 2rem;

        h2 {
            margin-bottom: 0;
            color: $colorTwo;
        }

        p {
            color: $colorTwo;
            margin: 0;
            font-family: roboto;
        }

        form input.email {
            padding: 10px 5px;
            width: 100%;
            margin-top: 10px;
            background-color: $colorOne;
            border: 1px solid lighten($color: $colorOne, $amount: 20%);
            outline: none;
            color: $colorTwo;
        }

        .email::placeholder {
            color: rgb(255, 253, 212, 0.5);
            font-family: roboto;
        }

        .email:focus, .email:active {
            color: $colorTwo;
            }

        form input.submit {
            width: 100%;
            border-radius: 5px;
            padding: 10px 0;
            background-color: lighten($color: $colorOne, $amount: 20%);
            color: white;
            border: none;
            margin-top: 10px;
            color: $colorTwo;
        }
    }

    div#aboutUs {
        margin-top: 2rem;

        p.part1 {
            margin-top: 0;
        }

        h2 {
            margin-bottom: 0;
            color: $colorTwo;
        }

        p {
            margin-bottom: 1rem;
            color: $colorTwo;
            font-family: roboto;
        }
    }

}

// ----------separate section for socials and name----------------
div#linksWrapper {
    max-width: 35rem;
    margin: 0 auto;
    text-align: center;

    div#socialMedia {

        i {
            margin: .8rem;
            font-size: 2.5rem;
            color: $colorOne;
        }
        i:hover {color: darken($color: $colorOne, $amount: 10%);}
    }

    p {
        color: $colorOne;
        display: block;
        margin: 0;
        a {
            color: darken($color: $colorOne, $amount: 20%);
            text-decoration: none;
        }
    }
    
} 

/*----- Clearfix: Force an Element not to collapse ----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}